body {
    background-color: #7ABEBB;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* inicio pesquisa */
.pesquisa-usuarios h3 {
    margin-bottom: 10px;
    color: white;
}

.pesquisa-usuarios button {
    margin-left: 10px;
    padding: 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.pesquisa-usuarios input {
    outline: none;
    border: 3px solid transparent;
    border-radius: 5px;
    width: 60%;
    height: 30px;
    font-size: 20px;
}

.pesquisa-usuarios input:focus {
    background-image: linear-gradient(white, white),
        linear-gradient(to right, #4ab3dd, #65c1a3);
    background-origin: border-box;
    background-clip: content-box, border-box;
    
}
/* fim pesquisa */
/* inicio cards usuario */
.possicao-cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;

}

.container-usuarios-cadastrados {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.usuarios-cadastrados {
    gap: 20px;
    width: 180px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

}

.card-usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* fim cards usuario */
/* inicio modal formulario */
.conteudo-formulario-label {
        display: grid;
        margin-bottom: 15px;
        min-width: 70px;

}
.conteudo-modal {
        padding: 50px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background-color: #2A9692;
        display: none;
}
#editarUsuario {
    cursor: pointer;
}