body {
    background-image: url('fundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
   
}

.cabecalho {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    text-align: end;
    color: black;
    gap: 50px;
    height: 45px;
}

.formulario {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.conteudo-formulario {
padding: 50px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgba(240, 240, 240, 1);
}

.conteudo-formulario-label {
  display: grid;
    margin-bottom: 10px;

}

.inputFormulario {
    outline: none;
    border: 3px solid transparent;
    border-radius: 5px;
    padding: 5px;
    color: black;
    width: 300px;

}

.btn {
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
    padding: 0 12px;
    height: max-content;
    color: black;
    border: none;
    font-weight: bold;
    

}
.btn-salvar{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

input {
    background-image: linear-gradient(white, white),
        linear-gradient(to right, #4ab3dd, #65c1a3);
    background-origin: border-box;
    background-clip: padding-box, border-box;

}

.btn:hover,
.btn-cadastro:hover {
    transform: translateY(-5px);

}

label {
    color: black;
    margin-bottom: 3px;
}

.titulo-sessao {
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.acoes-sessao {
    display: flex;
    justify-content: center;
    height: 50px;
    gap: 10px;
}
.conteudo-formulario-login{
    padding: 50px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgba(240, 240, 240, 1);
}

.abrirSectionLogin{
    display: block;
}
.abrirSectionCadastro{
    display: none;
}