body {
    background-image: linear-gradient(90deg, #269490, white);
    /* display: flex;
        justify-content: center;
        align-items: center; */

}

.abrirSectionPrincipal {
    display: block;
}

.cabecalho {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    text-align: end;
    color: black;
    gap: 50px;
    height: 45px;
}

.formulario {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.conteudo-formulario {
    padding: 50px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(45px);
    margin-bottom: -100px;
}

.conteudo-formulario-label {
    display: grid;
    margin-bottom: 10px;

}

.inputFormulario {
    outline: none;
    border: 3px solid transparent;
    border-radius: 5px;
    padding: 5px;
    color: black;
    width: 300px;

}

.conteudo-formulario form {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
    
}


.conteudo-formulario form hr {
    grid-column: span 2;
    width: 100%;
    margin: 11px ;
    border: 0;
    border-top: 1px solid #ccc;
}


.conteudo-formulario-label input {
    width: 100%;
    box-sizing: border-box; 
}

.btn {
    margin-top: 15px;
    cursor: pointer;
    padding: 0.70vw;
    border-radius: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right, #4ab3dd, #65c1a3) ; 
    width: -1%;
    height: 100%;
    color: black;
    transform: ease 0.5s;
    border: none;
}


input:focus {
    background-image: linear-gradient(white, white),
        linear-gradient(to right, #4ab3dd, #65c1a3);
    background-origin: border-box;
    background-clip: padding-box, border-box;

}

.btn:hover,
.btn-cadastro:hover {
    transform: translateY(-5px);

}

label {
    color: black;
    margin-bottom: 3px;
}

.titulo-sessao {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.acoes-sessao {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;

}

.buttonSair{
    margin-top: 15px;
    cursor: pointer;
    padding: 0.70vw;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: red ; 
    font-size: large;
    height: 90%;
    width: 4%;
    color: white;
    border: none;
}