body {
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.listar-usuarios {
    margin-left: 5%;
}

.abrirSection {
    display: none;
    
}

/* .btn {
    margin-top: 15px;
    cursor: pointer;
    padding: 0.70vw;
    border-radius: 5px;
    border: none;
    border-radius: 10px;
    background-color: black;
    width: -1%;
    height: 100%;
    color: white;
    transform: ease 0.5s;
    border: none;
} */

/* inicio pesquisa */
.pesquisa-usuarios h3 {
    margin-bottom: 10px;
    color: white;
}

.pesquisa-usuarios button {
    margin-left: 10px;
    padding: 13px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.pesquisa-usuarios input {
    outline: none;
    border: 3px solid transparent;
    border-radius: 5px;
    width: 60%;
    height: 30px;
    font-size: 20px;
}

.pesquisa-usuarios input:focus {
    background-origin: border-box;
    background-clip: content-box, border-box;

}

/* fim pesquisa */
/* inicio cards usuario */
.possicao-cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    margin-right: 80px;

}

.container-usuarios-cadastrados {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 10%;

}
.d-flex{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.usuarios-cadastrados {
    gap: 20px;
    width: 180px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

}

.card-usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px 0px
}
.card-usuario p {
    margin-left: 10px;
}

/* fim cards usuario */
/* inicio modal formulario */
.conteudo-formulario-label {
    display: grid;
    margin-bottom: 15px;
    min-width: 70px;

}

.conteudo-modal-editar {
    padding: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;

}

.abrir-modal-editar {
    display: none;
    z-index: 1000;
    position: fixed;
    z-index: 1000;
    right: 0;
    bottom: 3%;
    color: white;
    padding: 10px;
    width: 320px;
}

.editarUsuario {
    cursor: pointer;
}
.deletarUsuario{
    cursor: pointer;
}
/* fim modal formulario */


.voltarSection {
    position: fixed;
    bottom: 30px;
    left: 0;
    width: 95%;
    color: white;
    text-align: end;
    padding: 10px;
}


.alert-cadastro{
    margin-top: 25% !important;
}
.btn-salvar{
    display: flex;
    align-items: center;
    gap: 10px;
    
}